<h1>Log in to see your profile</h1>

<div class="box-1">


<form class="login-form" action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="submit" value="Log in">
</form>

</div>
