<h1>Make a new post here</h1>

<form class="new-post" action="/profile" method="post">
  <label for="title">Post</label>
  <br>
  <textarea rows="8" cols="80" placeholder="What's on your mind?"></textarea>
  <input type="submit" value="Post">
</form>

<a href="/profile">Back</a>
