<a href="/logout">Log out</a>

<h1>Welcome <%= @user.username %> </h1>
<p>Your user id is <%=@user.id %></p>

<section>
  <h3>Here are your posts</h3>
  <ul>

    <% @post.posts.each do |post| %>
      <li>
        <%= @post.post %>
      </li>
      <% end %>

  </ul>

</section>



<a href="posts/new">Post something new</a>
